.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 400px;
}

table,
th,
td {
  border: 1px solid black;
  height: 20px;
  width: 80px;
}
