.playerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 5px 10px;
  height: 60px;
  gap: 30px;
  border: 1px solid black;
}

.playerColor {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.overlay-button-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

@media (max-width: 479px) {
  .overlay-button-container {
    display: none;
  }
}

