.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: black;
    font-family: Arial, sans-serif;

    /* variables */
    --middle-color: rgb(50,50,50);
    --middle-text-color: #f7f7f7;
    --ov-height: 4.7vw;
    --line-width: 0.1vw;
}

.overlay-teams {
    position: absolute;
    bottom: 5%;
    display: flex;
    align-items: center;
    border-radius: 0.5vw;
    background: var(--middle-color);
    height: var(--ov-height);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: var(--ov-height);
}

.team-red {
    background: var(--middle-color);
    background: linear-gradient(90deg, var(--middle-color) 0%, rgba(145,60,60,1) 40%, rgba(245,65,65,1) 100%);
    border-radius: 0 0.5vw 0.5vw 0;
    padding-left: 2vw;
}

.team-red .team-name {
    text-align: right;
}

.team-white {
    background: var(--middle-color);
    background: linear-gradient(270deg, var(--middle-color) 0%, rgba(218,218,218,1) 40%, rgba(255,255,255,1) 100%);
    border-radius: 0.5vw 0 0 0.5vw;
    padding-right: 2vw;
}

.team-white .team-name {
    text-align: left;
}

.team-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.team-name {
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    width: 12vw;
    align-self: flex-end;
    margin: auto 0.6vw 0.3vw 0.6vw;
}

.team-score {
    font-size: 1.5vw;
    width: 8vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
}

.vertical-line {
    border-left: var(--line-width) solid var(--middle-text-color);
    height: 3.4vw;
    margin: 0 0.3vw;
}

.team-score > div {
    width: 1.7vw;
    height: 1.7vw;
}

.first-point {
    border-radius: 50%;
    border: var(--line-width) solid var(--middle-text-color);
}

.overlay-status {
    color: var(--middle-text-color);
    margin: 0 0.3vw;
}

/* timer */
.overlay-status > h2 {
    font-size: 1.5vw;
}

