.numberCircle {
    color: rebeccapurple;
    display: flex;
    width: 8ch; /* Set this to slightly wider than the longest string */
    align-items: center;  
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;  
    border: 2px solid #666;
  }

.wrapper{
    width: 100px;
}